extends layout

block content
  div.navbar.navbar-fixed-top.navbar-inverse
    div.container
      div.navbar-header
        a.navbar-brand(href="#") Survey Time!
      div.pull-right.sign_in
        a(href="/admin")
          button(type="button").btn.btn-default-navbar-btn.btn-primary Your Survey?


  div.container
    div.welcome
      h3 Hi Guest. Please take some time to answer a few questions for us.
    div.jumbotron.survey_pres
      div.survey_title
        = survey.surveyname
      ul
        each question in survey.Questions
          li
            = question.id + ". "
            = question.title
              ul
                each answer in question.Answers
                  li
                    = answer.title
                    form(action="/surveys/" + survey.id + "/questions/" + question.id + "/answers/" + answer.id, method="post", style="display: inline")
                      input(type="hidden", value="PUT", name="_method")
                      input(type="submit" value="Vote").btn-info.btn
