extends layout

block content
  div.container
    div.navbar.navbar-inverse.navbar-fixed-top
      div.nav.pull-left
        h1= title
      ul.nav.pull-right
        li
          a(href="#") Your Survey?

  div.container
    div.row
      h2 Hello
