extends layout

block content
  div.navbar.navbar-fixed-top.navbar-inverse
    div.container
      div.navbar-header
        a.navbar-brand(href="#") Survey Time!
      div.pull-right.sign_in
        a(href="/admin")
          button(type="button").btn.btn-default-navbar-btn.btn-primary Your Survey?


  div.container
    if survey.Questions.length !== 0
      div.welcome
        h3 Hi Guest. Please take some time to answer a few questions for us.
      div.jumbotron.survey_pres
        div.survey_title
          = survey.surveyname
        ul
          each question in survey.Questions
            li
              span.qid
                = question.id
              | . 
              = question.title
                ul
                  each answer in question.Answers
                    li
                      = answer.title
                      form(action="/surveys/" + survey.id + "/questions/" + question.id + "/answers/" + answer.id, method="post", style="display: inline")
                        input(type="hidden", value="PUT", name="_method")
                        input(type="submit" value="Vote").btn-info.btn
    else
      div.welcome
        h3 Hi there, there are no survey questions to answer at this time.
        a(href="/restart") Start over?

  script.
    var shown_questions = JSON.parse(Cookies.get('shown_questions'));

    // jquery nastiness, rewrite. iterate through shown and visible elements to keep track on guest end
    $('.qid').each(function(i){
      var question_id = parseInt($(this).html());
      if ( shown_questions.indexOf(question_id) == -1) {
        shown_questions.push(question_id);
      }
    });
    Cookies.set('shown_questions', shown_questions);
