extends layout

block content
  div.container
    div.navbar.navbar-inverse.navbar-fixed-top
      div.nav.pull-left
        h1= title
      ul.nav.pull-right
        li
          a(href="#") Your Survey?

  div.container
    h2 Create a new Survey
    form(action="/surveys/create", method="post")
      input(type="text", name="surveyname")
      input(type="submit" value="Create Survey").btn.btn-primary
      
    br
    br

    h3 Created Surveys

    ul
    each survey in surveys
      li.survey
        = survey.surveyname
        | &nbsp;
        | (
        a(href="/surveys/" + survey.id + "/destroy") Destroy
        | )
        ul
          li
            | Create a new Survey question:
            form(action="/surveys/" + survey.id + "/questions/create", method="post", style="display: inline")
              input(type="text", name="title")
              input(type="submit" value="Add Question").btn
          each question in survey.Questions
            li
              = question.title
              | &nbsp;
              | (
              a(href="/surveys/" + survey.id + "/questions/" + question.id + "/destroy") Destroy
              | )
              table.table.table-striped.table-bordered
                tr
                  th Answer Description
                  th Count
                  th Action
                  each answer in question.Answers
                    tr
                      td
                        = answer.title 
                      td 
                        = answer.picked
                      td  
                        a(href="/surveys/" + survey.id + "/questions/" + question.id + "/answers/" + answer.id + "/destroy") Destroy
                  li
                    | Creating a new multiple choice answer:
                    form(action="/surveys/" + survey.id + "/questions/" + question.id + "/answers/create", method="post", style="display:inline")
                      input(type="text", name="title")
                      input(type="submit" value="Add Answer").btn
