extends layout

block content
  div.container
    div.navbar.navbar-inverse.navbar-fixed-top
      div.nav.pull-left
        h1= title
      ul.nav.pull-right
        li
          a(href="/admin") Your Survey?

  div.container
    div.row
      h2 Hello
      = survey.surveyname
      ul
        each question in survey.Questions
          li
            = question.id + ". "
            = question.title
              ul
                each answer in question.Answers
                  li
                    = answer.title
